@use '@/styles/colors';

.switch-period{
    width: 120px;
    height: 90px;
    position: relative;

    &__pagination {
        font-size: 14px;
    }

    &__prev, &__next {
        position: absolute;
        top: 50%;
        bottom: 0;
        width: 50px;
        height: 50px;
        background-color: colors.$color-background;
    }

    &__prev {
        transform: rotate(180deg);
        left: 0;
    }

    &__next {
        right: 0;
    }
    
    &__navigation {
        &_disabled {
            opacity: 0.5;
            cursor: auto;
        }
        &__icon {
            stroke: colors.$color-gray;
            stroke-width: 2px;
            height: 12px;
        }
    }
}
