@use '@/styles/colors';

.events-slider {
    margin: 0 120px;
    
    &__wrapper {
        position: relative;
        max-width: 1400px;
    }

    &__next, &__prev {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        border: none;
        box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
        &.swiper-button-disabled {
            display: none;
        }
    }

    &__prev {
        transform: translate(0, -50%) rotate(180deg);
        left: 0;
    }

    &__next {
        transform: translate(0, -50%);
        right: 0;
    }

    &__navigation-icon {
        stroke: colors.$color-blue;
        stroke-width: 2px;
        height: 12px;
    }

    &__pagination .swiper-pagination-bullet-active {
        background: colors.$color-gray;
    }
}

@media (max-width: 1200px) {
    .events-slider {
        margin: 0 60px;
    }
}

@media (max-width: 768px) {
    .events-slider {
        margin: 0;
        
        &__next, &__prev {
            display: none;
        }

        &__pagination {
            // position: relative;
            // top: 10px !important;
            text-align: center;
        }

        & .event-card__description {
            font-size: 18px;
        }

        & .event-card {
            min-width: 100px;
            max-width: 245px;
        }
    }
}

@media (max-width: 576px) {
    .events-slider {
        .swiper-slide-next {
            opacity: 0.4;
        }

        & .event-card {
            max-width: 245px;
        }

        & .event-card__description {
            font-size: 14px;
        }

        & .event-card__title {
            font-size: 16px;
        }
    }
}

@media (max-width: 468px) {
    .events-slider {
        & .event-card {
            max-width: 166px;
        }
    }
}

@media (min-width: 768px) {
    .events-slider {
        &__pagination {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .events-slider {
        &__pagination {
            position: relative;
            top: 103px !important;
        }
    }
}
