*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
