@use '@/styles/colors';

.year-period {
    font-size: 200px;
    font-weight: bold;
    line-height: 0.8;
}

@media (max-width: 1400px) {
    .year-period {
        font-size: 180px;
    }
}

@media (max-width: 1200px) {
    .year-period {
        font-size: 120px;
    }
}

@media (max-width: 990px) {
    .year-period {
        // font-size: 65px;
    }
}

@media (max-width: 768px) {
    .year-period {
        font-size: 100px;
    }
}

@media (max-width: 576px) {
    .year-period {
        font-size: 80px;
    }
}

@media (max-width: 400px) {
    .year-period {
        font-size: 56px;
    }
}
