@use '@/styles/colors';

.header-gradient {
    position: relative;
    &__header {
        font-size: 56px;
        font-weight: bold;
        line-height: 120%;
        text-align: left;
        color: colors.$color-gray;
        margin-left: 75px;
    }

    &__gradient {
        position: absolute;
        height: 100%;
        width: 5px;
        background: linear-gradient(colors.$color-blue, colors.$color-pink);
    }
}

@media (max-width: 768px) {
    .header-gradient {
        &__header {
            font-size: 40px;
        }
    }
}

@media (max-width: 576px) {
    .header-gradient {
        &__header {
            font-size: 30px;
            margin-left: 40px;
        }
        &__gradient {
            display: none;
        }
    }
}

@media (max-width: 400px) {
    .header-gradient {
        &__header {
            font-size: 20px;
            margin-left: 0;
        }
    }
}