@use '@/styles/colors';
@use '@/styles/functions';

.historical-dates {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

    &__wrapper {
        padding: 170px 0 104px 0;
        height: 1080px;
    }

    &__horizontal-line, &__vertical-line {
        position: absolute;
        background-color: functions.alpha(colors.$color-gray, 0.1);
        z-index: -1;
    }

    &__horizontal-line {
        width: 100%;
        height: 1px;
        top: 480px;
    }

    &__vertical-line {
        height: 100%;
        width: 1px;
        top: 0;
        
        &.position-lf {
            left: 0;
        }

        &.position-cn {
            left: 50%;
        }

        &.position-rg {
            right: 0;
        }
    }

    &__period-orbit {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 215px;
        z-index: 10;

        & .switch-period {
            position: absolute;
            left: 80px;
            bottom: -40px;
        }
    }

    &__period {
        display: flex;
        gap: 50px;
        position: absolute;
        top: 400px;
        left: 217px;
        cursor: default;
    }

    &__begin-year {
        color: colors.$color-purple;
    }

    &__end-year {
        color: colors.$color-pink;
    }

    &__events-slider {
        position: absolute;
        bottom: 104px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__period-name {
        display: none;
    }
}

@media (max-width: 1480px) {
    .historical-dates {
        margin: 0 20px;

        &__events-slider {
            width: 95%;
        }
    }
}

@media (max-width: 1200px) {
    .historical-dates {
        &__wrapper {
            padding: 100px 0 54px 0;
        }

        &__period {
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

@media (max-width: 768px) {
    .historical-dates {
        &__wrapper {
            padding: 70px 0 25px 0;
            height: 700px;
        }

        &__period {
            gap: 20px;
            top: 180px;
        }

        &__horizontal-line {
            top: 380px;
        }

        &__vertical-line {
            display: none;
        }

        &__events-slider {
            bottom: 100px;
        }

        &__switch-period {
            left: 0px;
            bottom: 14px;
        }

        &__period-orbit {
            width: fit-content;
            top: auto;
            bottom: 15px;
            
            & .orbit {
                display: none;
            }

            & .switch-period {
                position: relative;
                left: 0;
                bottom: 0;
            }
        }

        &__period-name {
            display: block;
            position: absolute;
            top: 340px;
            left: 20px;
            font-size: 24px;
            font-weight: bold;
            color: colors.$color-gray;
        }
    }
}

@media (max-width: 576px) {
    .historical-dates {
        &__wrapper {
            height: 600px;
        }
        &__period {
            top: 163px;
        }

        &__horizontal-line {
            top: 293px;
        }

        &__begin-year {
            color: colors.$color-blue;
        }

        &__wrapper {
            padding: 59px 0 20px 0;
        }

        &__events-slider {
            width: 100%;
        }

        &__period-name {
            top: 260px;
            font-size: 22px;
        }
    }
}

@media (max-width: 400px) {
    .historical-dates {
        &__wrapper {
            height: 568px;
        }

        &__period-name {
            font-size: 18px;
        }
    }
}
