@use './styles/colors';
@use './styles/functions';
@use './styles/fonts';
@use './styles/variables' as *;
@use './styles/typography';

body {
    @include typography.text-base;
    background-color: rgba(244, 245, 249, 1);
}
